{% extends 'base.html.twig' %}

{% block title %}CoordonneesOrganisateur{% endblock %}

{% block body %}
    <h1>CoordonneesOrganisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coordonnees_organisateur.id }}</td>
            </tr>
            <tr>
                <th>Raison_sociale</th>
                <td>{{ coordonnees_organisateur.raisonSociale }}</td>
            </tr>
            <tr>
                <th>Site_web</th>
                <td>{{ coordonnees_organisateur.siteWeb }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ coordonnees_organisateur.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_coordonnees_organisateur_index') }}">back to list</a>

    <a href="{{ path('app_coordonnees_organisateur_edit', {'id': coordonnees_organisateur.id}) }}">edit</a>

    {{ include('coordonnees_organisateur/_delete_form.html.twig') }}
{% endblock %}
