{% extends 'base.html.twig' %}

{% block title %}ImageEvenement index{% endblock %}

{% block body %}
    <h1>ImageEvenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Couverture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image_evenement in image_evenements %}
            <tr>
                <td>{{ image_evenement.id }}</td>
                <td><img src="{{ asset('imgs/evenement/' ~ image_evenement.imageName ~ '')  }}" alt="" style="width: 150px"></td>
                <td>{{ image_evenement.couverture ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_image_evenement_show', {'id': image_evenement.id}) }}">show</a>
                    <a href="{{ path('app_image_evenement_edit', {'id': image_evenement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_image_evenement_new') }}">Create new</a>
{% endblock %}
