{% extends 'base.html.twig' %}

{% block title %}Admin - Back Office{% endblock %}

{% block body %}
<h1>Dashboard admin</h1>
<ul class="nav nav-pills nav-justified">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Evenement</a>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Evenement</a></li>
        <li><a class="dropdown-item" href="#">Participation</a></li>
        <li><a class="dropdown-item" href="#">Catégorie</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Transport</a>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Transport</a></li>
        <li><a class="dropdown-item" href="#">Réservation</a></li>
        <li><a class="dropdown-item" href="#">Type de transport</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Utilisateur</a>
    </li>
</ul>
<div class ="event-panel shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    <h2>Evènements en attente de validation</h2>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Status</th>
                <th>Nom</th>
                <th>Date</th>
                <th>Ville</th>
                <th>Lieu</th>
                <th>Tarif</th>
                <th>Date de Creation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            {% if evenement.statusEvenement == 'En attente de validation' %}
            <tr>
                <td>
                    <span class="btn btn-secondary">{{ evenement.statusEvenement }}</span>
                </td>
                <td>{{ evenement.nomEvenement }}</td>
                <td>{{ evenement.dateEvenement ? evenement.dateEvenement|date('d-m-Y') : '' }}</td>
                <td>{{ evenement.villeEvenement }}</td>
                <td>{{ evenement.nomLieu }}</td>
                <td>{{ evenement.tarifEvenement }} €</td>
                <td>{{ evenement.dateCreation ? evenement.dateCreation|date('d-m-Y') : '' }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('app_evenement_show', {'id': evenement.id}) }}">voir</a>
                    <a class="btn btn-secondary" href="{{ path('app_admin_evenement_edit', {'id': evenement.id}) }}">modifier</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="14">Aucun historique</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class ="event-panel shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    <h2>Evènements validés</h2>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Status</th>
                <th>Nom</th>
                <th>Date</th>
                <th>Ville</th>
                <th>Lieu</th>
                <th>Tarif</th>
                <th>Date de Creation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            {% if evenement.statusEvenement == 'Validé' %}
            <tr>
                <td>
                    <span class="btn btn-success">{{ evenement.statusEvenement }}</span>
                </td>
                <td>{{ evenement.nomEvenement }}</td>
                <td>{{ evenement.dateEvenement ? evenement.dateEvenement|date('d-m-Y') : '' }}</td>
                <td>{{ evenement.villeEvenement }}</td>
                <td>{{ evenement.nomLieu }}</td>
                <td>{{ evenement.tarifEvenement }} €</td>
                <td>{{ evenement.dateCreation ? evenement.dateCreation|date('d-m-Y') : '' }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('app_evenement_show', {'id': evenement.id}) }}">voir</a>
                    <a class="btn btn-secondary" href="{{ path('app_admin_evenement_edit', {'id': evenement.id}) }}">modifier</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="14">Aucun historique</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
