{% extends 'base.html.twig' %}

{% block title %}Transport index{% endblock %}

{% block body %}
    <h1>Transport index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Price_per_person</th>
                <th>Description</th>
                <th>Info_contact</th>
                <th>Date_creation_transport</th>
                <th>Place_departure</th>
                <th>Number_of_place</th>
                <th>Payment_info</th>
                <th>Transport_status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transport in transports %}
            <tr>
                <td>{{ transport.id }}</td>
                <td>{{ transport.pricePerPerson }}</td>
                <td>{{ transport.description }}</td>
                <td>{{ transport.infoContact }}</td>
                <td>{{ transport.dateCreationTransport ? transport.dateCreationTransport|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transport.placeDeparture }}</td>
                <td>{{ transport.numberOfPlace }}</td>
                <td>{{ transport.paymentInfo }}</td>
                <td>{{ transport.transportStatus }}</td>
                <td>
                    <a href="{{ path('app_transport_show', {'id': transport.id}) }}">show</a>
                    <a href="{{ path('app_transport_edit', {'id': transport.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_transport_new') }}">Create new</a>
{% endblock %}
