{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	<nav class="navbar bg-body-tertiary dashboard-nav">
		<div class="container-fluid">
			<span class="navbar-brand mb-0 h1 fs-2">Dashboard</span>
		</div>
	</nav>
	<div class="last-participation my-5">
		<h2>Participations :</h2>
		<table class="table">
			<thead class="table-dark">
				<tr>
					<th>Evenement</th>
					<th>DateParticipation</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for participation in participations %}
					{% if participation.user.id is same as app.user.id %}
						<tr>
							<td>{{ participation.evenement.nomEvenement }}</td>
							<td>{{ participation.dateParticipation ? participation.dateParticipation|date('Y-m-d') : '' }}</td>
							<td>
								{% for evenement in evenements %}
									{% if participation.evenement.id == evenement.id %}
										<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas{{ evenement.id }}" aria-controls="offcanvasRight">Détails</button>
										<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas{{ evenement.id }}" aria-labelledby="offcanvasRightLabel">
											<div class="offcanvas-header">
												<h5 class="offcanvas-title" id="offcanvasRightLabel">Détail de l'évènement</h5>
												<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
											</div>
											<div class="offcanvas-body">
												<table class="table">
													<tbody>
														<tr>
															<th>Heure</th>
															<td>{{ evenement.heureEvenement ? evenement.heureEvenement|date('H:i') : '' }}</td>
														</tr>
														<tr>
															<th>Descriptif</th>
															<td>{{ evenement.descriptif }}</td>
														</tr>
														<tr>
															<th>Ville</th>
															<td>{{ evenement.villeEvenement }}</td>
														</tr>
														<tr>
															<th>Code postal</th>
															<td>{{ evenement.codePostalEvenement }}</td>
														</tr>
														<tr>
															<th>Adresse</th>
															<td>{{ evenement.adresse }}</td>
														</tr>
														<tr>
															<th>Nom du lieu</th>
															<td>{{ evenement.nomLieu }}</td>
														</tr>
														<tr>
															<th>Capacite total</th>
															<td>{{ evenement.capaciteTotal }}</td>
														</tr>
														<tr>
															<th>Duree</th>
															<td>{{ evenement.duree }}</td>
														</tr>
														<tr>
															<th>Tarif</th>
															<td>{{ evenement.tarifEvenement }}
																€</td>
														</tr>
													</tbody>
												</table>
												<a class='btn btn-info mb-5' href="{{ path('app_home_show', {'id': evenement.id}) }}">Page de l'évènement</a>
												{{ include('participation/_delete_form.html.twig') }}
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</td>
						</tr>
					{% endif %}
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% if app.user.roles[0] == "ROLE_ORGA" %}
		<div class="last-event my-5">
			<h2>Evènement organiser :</h2>
			<table class="table table-sm">
				<thead class="table-dark">
					<tr>
						<th>Status</th>
						<th>Nom</th>
						<th>Date</th>
						<th>Ville</th>
						<th>Lieu</th>
						<th>Tarif</th>
						<th>Date de Creation</th>
						<th>Nombre Inscription</th>
						<th>Nombre de visite</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for evenement in evenements %}
						{% if evenement.user.id is same as app.user.id %}
							<tr>
								<td class="align-middle">
									<span {% if evenement.statusEvenement == 'En attente de validation' %} class="btn btn-secondary btn-sm">
									{% else %}
										class="btn btn-success btn-sm">
									{% endif %}
									{{ evenement.statusEvenement }}</td>
							</tr>
						</span>
					</td>
					<td>{{ evenement.nomEvenement }}</td>
					<td>{{ evenement.dateEvenement ? evenement.dateEvenement|date('d-m-Y') : '' }}</td>
					<td>{{ evenement.villeEvenement }}</td>
					<td>{{ evenement.nomLieu }}</td>
					<td>{{ evenement.tarifEvenement }}€</td>
					<td>{{ evenement.dateCreation ? evenement.dateCreation|date('d-m-Y') : '' }}</td>
					<td>{{ nbreParticipations[evenement.id] }}</td>
					<td>{{ compteurs[evenement.id]['total'] }}</td>
					<td>
						<a class="btn btn-info m-2" href="{{ path('app_evenement_show', {'id': evenement.id}) }}">voir</a>
						<a class="btn btn-secondary m-2" href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">modifier</a>
						<a class="btn btn-primary m-2" href="{{ path('event_csv', {'id' : evenement.id}) }}">csv</a>
					</td>
				</tbody>
			</tr>
		</tbody>
	{% endif %}
{% else %}
	<tr>
		<td colspan="14">Aucun historique</td>
	</tr>
{% endfor %}</tbody></table></div>{% endif %}<div class="last-reservation my-5"><h2>Réservation de transport :</h2><table class="table"><thead class="table-dark"><tr>
<th>Date de Reservation</th>
<th>Evenement lié</th>
<th>Prix de la place</th>
<th>Date de départ</th>
<th>actions</th></tr></thead><tbody>{% for reservation in reservations %}
<tr>
	{% if reservation.user.id is same as app.user.id %}
		<td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') : '' }}</td>
		<td>{{ reservation.transport.evenement.nomEvenement  }}</td>
		<td>{{ reservation.transport.TarifPersonne }}
			€</td>
		<td>{{ reservation.transport.DateDepart ? reservation.transport.DateDepart|date('d-m-Y à H:i') : '' }}</td>
		<td>
			{% for transport in transports %}
				{% if transport.id == reservation.transport.id %}
					<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas{{ transport.id }}" aria-controls="offcanvasRight">Détails</button>
					<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas{{ transport.id }}" aria-labelledby="offcanvasRightLabel">
						<div class="offcanvas-header">
							<h5 class="offcanvas-title" id="offcanvasRightLabel">Détail du transport réserver</h5>
							<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						</div>
						<div class="offcanvas-body">
							<table class="table">
								<tbody>
									<tr>
										<th>TarifPersonne</th>
										<td>{{ transport.TarifPersonne }}</td>
									</tr>
									<tr>
										<th>Descriptif</th>
										<td>{{ transport.descriptif }}</td>
									</tr>
									<tr>
										<th>InfoContact</th>
										<td>{{ transport.InfoContact }}</td>
									</tr>
									<tr>
										<th>DateDepart</th>
										<td>{{ transport.DateDepart ? transport.DateDepart|date('Y-m-d H:i:s') : '' }}</td>
									</tr>
									<tr>
										<th>LieuDepart</th>
										<td>{{ transport.LieuDepart }}</td>
									</tr>
									<tr>
										<th>NbPlace</th>
										<td>{{ transport.NbPlace }}</td>
									</tr>
									<tr>
										<th>InfoPaiement</th>
										<td>{{ transport.InfoPaiement }}</td>
									</tr>
								</tbody>
							</table>
							<a class='btn btn-info mb-5' href="{{ path('app_transport_show', {'id': transport.id}) }}">Page de l'évènement</a>
							{{ include('reservation/_delete_form.html.twig') }}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</td>
	{% endif %}
</tr>{% else %}
<tr>
	<td colspan="3">no records found</td>
</tr>{% endfor %}</tbody></table></div><div class="last-transport my-5"><h2>Transport proposer</h2><table class="table"><thead class="table-dark"><tr>
<th>Statut</th>
<th>Tarif</th>
<th>Contact</th>
<th>Date de Depart</th>
<th>Lieu de Depart</th>
<th>Place</th>
<th>Paiement</th>
<th>Nombre de Réservation</th>
<th>actions</th></tr></thead><tbody>{% for transport in transports %}
{% if transport.user.id is same as app.user.id %}
	<tr>
		<td>
			<span class="btn btn-secondary">{{ transport.StatutTransport }}</span>
		</td>
		<td>{{ transport.TarifPersonne }}
			€</td>
		<td>{{ transport.InfoContact }}</td>
		<td>{{ transport.DateDepart ? transport.DateDepart|date('Y-m-d H:i:s') : '' }}</td>
		<td>{{ transport.LieuDepart }}</td>
		<td>{{ transport.NbPlace }}</td>
		<td>{{ transport.InfoPaiement }}</td>
		<td>{{ nbreReservations[transport.id] }}</td>
		<td>
			<a class="btn btn-info" href="{{ path('app_transport_show', {'id': transport.id}) }}">voir</a>
			<a class="btn btn-secondary" href="{{ path('app_transport_edit', {'id': transport.id}) }}">modifier</a>
		</td>
	</tr>
{% endif %}{% else %}
<tr>
	<td colspan="11">Aucun</td>
</tr>{% endfor %}</tbody></table></div>{% endblock %}
